{% extends "layout-home.html" %}


{% block callout %}

<div class="l-container apifest callout">
  <h2>Security<em>Trivia</em> <span>by PNC</span></h2>
  <h1 class="gradientRule"></h1>
  <div class="l-long callout__rules">

    <h1>  Have What It Takes to Protect Yourself Online?
  </h1>
  <h2>Test your knowledge in cyber security and win prizes.
  </h2>
  <h2>Play Games.  Win Prizes.  Stay Secure.</h2>
  <p>Your account and data security are important to us. We want to make it easy for you to safely bank online. Since knowledge is the best attack deterrent, we offer this online game as a fun way to keep you safe.</p>

    <a class="button" href="./trivia.html">Play Now</a>

  </div>

  <div class="l-short">
      <div class="coin">

      </div>
      <h3>Earn the Phishy Fishy Coin Now!</h3>
      <a class="button" href="/trivia.html">Get the coin</a>
  </div>


</div>






{% endblock %}
