{% extends "layout-home.html" %}


{% block callout %}

<div class="l-container apifest callout">
  <div class='l-pad'>
    <h1 class="st-logo">Security<em class="st-logo__secondary gadientRule">Widget</em> <span class="st-logo__pnc">by PNC</span></h1>
  <h1 class="gradientRule"></h1>
</div>


  <div class="l-flex-container">
    <div class="l-long callout__about">
      <h1 class="h--level1">Have What It Takes to Protect Yourself Online?</h1>
      <h3 class="h--level3">Test your knowledge in cyber security and win prizes.</h3>

      <h3 class="h--level3 h--color"> Play Games. Win Prizes. Stay Secure. </h3>
      <p class="l-short-text">Your account and data security are important to us. We want to make it easy for you to safely bank online. Since knowledge is the best attack deterrent, we offer this online game as a fun way to keep you safe.</p>
      <a href="./challenges.html" class="button--link">Select a challenge</a>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>

  <div class="l-short callout__promo ">
      <div class="callout__promo-top">
        <div class="coin coin--small coin--phishing-bw coin--bw is-animated">
          <!-- {% include "_coin-contents.html" %} -->
          <div class="coin__front"></div>
          <div class="coin__edge coin-edge--bw">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
             <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
          </div>
          <div class="coin__back"></div>

          <div class="coin__shadow"></div>
        </div>

        <h3>Earn the Phishy Fishy Coin Now!</h3>
      </div>
      <p>Test your knowledge in online phishing scams.</p>
      <br>
      <a class="button--large" href="/gameplay.html">Take the challenge</a>
  </div>
</div>

</div>



{% endblock %}
