{% extends "layout-game.html" %}


{% block callout %}

<section>

  <h1 class="h--level1">  Raise your awareness in Cyber Security and protect yourself from these popular online scams
</h1>

<ul>
  <li>
    <h2 class="h--level2 h--color">IRS Imposter Scam</h2>
    <p>Did you get a call from someone claiming to be from the IRS and threatening to sue you?</p>
  </li>
  <li>
    <h2 class="h--level2 h--color">'You have won the Lottery' Scam</h2>
    <p>Did you get a call from someone claiming to be from the IRS and threatening to sue you?</p>
    <a href="" class="button--link">Learn more about how you can be better prepared to tackle such calls</a>
  </li>
  <li>
    <h2 class="h--level2 h--color">IRS Imposter Scam</h2>
    <p>Were you contacted via email or a phone by someone saying that you have won a big lottery? And they are requesting you to send them money to process the lottery payout. This is definitely a scam.</p>
    <a href="" class="button--link">Learn more about this scam</a>
  </li>

  <li>
    <h2 class="h--level2 h--color">Job Scam</h2>
    <p>Some one contacted you promising you a job that pays big money at an exotic location or the convenience of working from. This could potentially be a scam. </p>
    <a href="" class="button--link">Learn more about this scam</a>
  </li>
</ul>
</div>


</section>


{% endblock %}
