{% extends "layout-game.html" %}


{% block callout %}


<div class="l-container apifest gameplay">
  <div class='l-pad'>
    <h1 class="st-logo">Security<em class="st-logo__secondary gadientRule">Widget</em> <span class="st-logo__pnc">by PNC</span></h1>
  <h1 class="gradientRule"></h1>

  <br><br>

  <div class="sq">

    <button class="sq-btn-next-pig">Next Pig</button>
    <button class="sq-btn-next-progress">Next Prog</button>
    <button class="sq-btn-next-question">Next ?</button>


    <div class="sq__question-group">
      <div class="sq__question">
        <div>
          Q0
        </div>
      </div>
      <div class="sq__question">
        <div>
          Q1
        </div>
      </div>
      <div class="sq__question">
        <div>
          Q2
        </div>
      </div>
    </div>

    <div class="sq__response-group">
<div class="sq__response">R1</div>
      <div class="sq__response">R1</div>
      <div class="sq__response">R2</div>
    </div>


    <div class="sq__pig-group">
      <img src="../images/pig1.png" alt="">
      <img src="../images/pig2.png" alt="">
      <img src="../images/pig3.png" alt="">
    </div>

    <div class="sq__progress-group">
        <div class="sq__progress"></div>
        <div class="sq__progress"></div>
        <div class="sq__progress"></div>
    </div>

    <div class="sq__coin">

    </div>

  </div>


</div>


{% endblock %}
