.sq {

}
.test-buttons {
  position: absolute;
}

.sq__btn-start {
  position: absolute;
  display: block;
  left: 50%;
  top: 160px;
  margin: auto;
  font-size: 4em;
  text-transform: uppercase;
  font-family: $secondary-font-family;
  font-weight: 800;
  color: #fff;
  // text-shadow: 0  0 2px rgba(0,0,0,.4);
  transform: translateX(-50%);
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.sq__pig-group {
    text-align: center;

    img {
      display: none;
      height: 250px;
      margin: auto;
    }

    img.is-active{
      display: block;
    }

    img.is-animated {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }

    // img.is-active:first-child {
    //   animation: none;
    // }
}


.sq__progress-group {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-bottom: $large-spacing;
  border-bottom: solid 4px $orange;

}

.sq__progress {
  display: block;
  width: 30;
  height: 30;
  background: #fff;
  border-radius: 50%;
  border: solid 4px $orange;
  transform: translateY(50%);

  &.is-active {
    background: $orange;
  }
}


.sq__question-group{


}

.sq__block{
  position: absolute;
  display: none;
  left: 0;
  margin-left: 150px;
  padding: $large-spacing;
  width: 400px;
  height: 200px;
  box-shadow: 0 0 100px 0 rgba(0,0,0,.5);
  background: #fff;
  // transform: translateX(-50%);
  // opacity: .95;
  z-index: 99;

  &.is-active {
    display: block;
    animation: jiggle 1.0s linear 1 both;
  }
}

.sq__response {
  display: none;

  &.is-active {
    display: block;
  }
}
