.sq {

}


.sq__pig-group {
    text-align: center;

    img {
      display: none;
      height: 250px;
      margin: auto;
    }

    img.is-active{
      display: block;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;

    }
}


.sq__progress-group {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-bottom: $large-spacing;
  border-bottom: solid 4px $orange;

}

.sq__progress {
  display: block;
  width: 30;
  height: 30;
  background: #fff;
  border-radius: 50%;
  border: solid 4px $orange;
  transform: translateY(50%);

  &.is-active {
    background: $orange;
  }
}


.sq__question-group{
  

}

.sq__question {
  position: absolute;
  display: none;
  left: 0;
  margin-left: 150px;
  padding: $large-spacing;
  width: 400px;
  height: 200px;
  box-shadow: 0 0 100px 0 rgba(0,0,0,.5);
  background: #fff;
  // transform: translateX(-50%);
  // opacity: .95;

  &.is-active {
    display: block;
    animation: jiggle 1.0s linear 1 both;
  }
}
